#
# Alex default .dockerignore, any manual change will be overwritten.
#

# General untracked
__pycache__/
.gitignore
backup/
*Dockerfile*
docker-compose*
README*
old/
unused/
*venv*

# Environment variable files
.env
.env.*

# Log files
logs/
*.log

# Sensitive data
*secret*
*vault*
